<div class="container">
    <div class="row">
      <div class="col">
        <div >
          {{employeeIndex + 1}} : {{employeeInChild.name}} {{employeeInChild.surname}} {{employeeInChild.position}} {{employeeInChild.salary}}
        </div>
        <app-characteristics-employee (employeeDetails)="addItem($event)"></app-characteristics-employee>

        <ul style="list-style: none">
            <li *ngFor="let trait of traitsArr">{{trait}}</li>
          </ul>
      </div>
    </div>
  </div>
